[Unit]
Description=NGINX Server 2
After=network.target

[Service]
MemoryMax=50M
Type=forking
PIDFile=/run/nginx_server2.pid
ExecStartPre=/usr/sbin/nginx -t -c /var/www/nginx_server2/config/nginx.conf
ExecStart=/usr/sbin/nginx -c /var/www/nginx_server2/config/nginx.conf
ExecReload=/usr/sbin/nginx -s reload
ExecStop=/usr/sbin/nginx -s quit

[Install]
WantedBy=multi-user.target
